[Desktop Entry]
Name[it]=Ptyxis
Name[nl]=Ptyxis
Name[pt_BR]=Ptyxis
Name[tr]=Ptyxis
Name[sv]=Ptyxis
Name=Ptyxis
Comment[it]=Un terminale per GNOME rivolto ai container
Comment[nl]=Een op containers gefocuste terminal voor GNOME
Comment[pt_BR]=Um terminal orientado a contêineres para GNOME
Comment[tr]=GNOME için konteyner odaklı uçbirim
Comment[sv]=En behållar-orienterad terminal för GNOME
Comment=A container-oriented terminal for GNOME
Exec=kde-ptyxis
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Ptyxis
DBusActivatable=true
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;
GenericName[it]=Terminale
GenericName[nl]=Terminal
GenericName[pt_BR]=Terminal
GenericName[tr]=Uçbirim
GenericName[sv]=Terminal
GenericName=Terminal
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[tr]=terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;uçbirim;istem;kabuk;komut;komut satırı;
Keywords=konsole;terminal;prompt;ptyxis;shell;command;commandline;cmd;cli;
Actions=new-window;new-tab;preferences;
X-ExecArg=--
X-KDE-AuthorizeAction=shell_access

[Desktop Action new-window]
Name[it]=Nuova finestra
Name[nl]=Nieuw venster
Name[pt_BR]=Nova janela
Name[tr]=Yeni Pencere
Name[sv]=Nytt fönster
Name=New Window
Exec=kde-ptyxis --new-window

[Desktop Action new-tab]
Name[it]=Nuova scheda
Name[nl]=Nieuw tabblad
Name[pt_BR]=Nova aba
Name[tr]=Yeni Sekme
Name[sv]=Ny flik
Name=New Tab
Exec=kde-ptyxis --tab

[Desktop Action preferences]
Name[it]=Preferenze
Name[nl]=Voorkeuren
Name[pt_BR]=Preferências
Name[tr]=Tercihler
Name[sv]=Inställningar
Name=Preferences
Exec=kde-ptyxis --preferences