[Desktop Entry]
Exec=/usr/libexec/distrobox-quadlet-ptyxis.sh ubuntu-toolbox
Name=Ubuntu-Toolbox
NoDisplay=true
StartupNotification=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
X-KDE-Shortcuts=Ctrl+Alt+U
