[submodule "system_files/shared/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com"]
	path = system_files/shared/usr/share/gnome-shell/extensions/appindicatorsupport@rgcjonas.gmail.com
	url = https://github.com/ubuntu/gnome-shell-extension-appindicator.git
	branch = v61
[submodule "system_files/shared/usr/share/gnome-shell/extensions/blur-my-shell@aunetx"]
	path = system_files/shared/usr/share/gnome-shell/extensions/blur-my-shell@aunetx
	url = https://github.com/aunetx/blur-my-shell.git
	branch = master
[submodule "system_files/shared/usr/share/gnome-shell/extensions/tmp/caffeine"]
	path = system_files/shared/usr/share/gnome-shell/extensions/tmp/caffeine
	url = https://github.com/eonpatapon/gnome-shell-extension-caffeine.git
	branch = v58
[submodule "system_files/shared/usr/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com"]
	path = system_files/shared/usr/share/gnome-shell/extensions/dash-to-dock@micxgx.gmail.com
	url = https://github.com/micheleg/dash-to-dock.git
	branch = extensions.gnome.org-v102
[submodule "system_files/shared/usr/share/gnome-shell/extensions/gsconnect@andyholmes.github.io"]
	path = system_files/shared/usr/share/gnome-shell/extensions/gsconnect@andyholmes.github.io
	url = https://github.com/GSConnect/gnome-shell-extension-gsconnect.git
	branch = v67
[submodule "system_files/shared/usr/share/gnome-shell/extensions/logomenu@aryan_k"]
	path = system_files/shared/usr/share/gnome-shell/extensions/logomenu@aryan_k
	url = https://github.com/ublue-os/Logomenu.git
[submodule "system_files/shared/usr/share/gnome-shell/extensions/search-light@icedman.github.com"]
	path = system_files/shared/usr/share/gnome-shell/extensions/search-light@icedman.github.com
	url = https://github.com/icedman/search-light.git
