[Unit]
Description=The Podmansh container
After=local-fs.target

[Service]
# Restart service when sleep finishes
Restart=always
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
# Ensure there's a userland podman.sock
ExecStartPre=/bin/systemctl --user enable podman.socket

[Container]
Image=ghcr.io/ublue-os/ubuntu-toolbox:latest
ContainerName=podmansh
RemapUsers=keep-id
RunInit=yes
Network=host
AddCapability=all
NoNewPrivileges=no
Exec=sleep infinity
WorkingDir=%h

Volume=/var/home:/var/home
Volume=/var/home/linuxbrew:/home/linuxbrew
Volume=/:/run/host:rslave
Volume=/dev:/dev:rslave
Volume=/sys:/sys:rslave
Volume=/tmp:/tmp:rslave
Volume=/sys/fs/selinux
Volume=/etc/selinux:/etc/selinux:rslave
Volume=/var/log/journal
Volume=/run/user/%U:/run/user/%U:rslave
Volume=/etc/hosts:/etc/hosts
Volume=/etc/resolv.conf:/etc/resolv.conf
Volume=/run/user/1000/podman/podman.sock:/var/run/podman/podman.sock

Environment=ENV=%h/.profile

PodmanArgs=--env-host
PodmanArgs=--privileged
PodmanArgs=--mount=type=devpts,destination=/dev/pts
PodmanArgs=--userns=keep-id
PodmanArgs=--group-add=keep-groups 
PodmanArgs=--ulimit=host
PodmanArgs=--security-opt=label=disable
PodmanArgs=--cgroupns=host
PodmanArgs=--log-level=debug

Annotation=run.oci.keep_original_groups=1

[Install]
RequiredBy=default.target
