[Desktop Entry]
Type=Application
Name=Changelog
Comment=See the operating system version changelog
Icon=ublue-changelog
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust release-notes
