remove usr/share/anaconda/pixmaps/silverblue/fedora-silverblue.css
remove usr/share/anaconda/pixmaps/silverblue/sidebar-bg.png
remove usr/share/anaconda/pixmaps/silverblue/sidebar-logo.png
remove usr/share/anaconda/pixmaps/silverblue/topbar-bg.png

copy tmp/config_files/workspace/lorax_templates/bluefin_files/fedora-silverblue.css usr/share/anaconda/pixmaps/silverblue/fedora-silverblue.css
copy tmp/config_files/workspace/lorax_templates/bluefin_files/sidebar-bg.png usr/share/anaconda/pixmaps/silverblue/sidebar-bg.png
copy tmp/config_files/workspace/lorax_templates/bluefin_files/sidebar-logo.png usr/share/anaconda/pixmaps/silverblue/sidebar-logo.png
copy tmp/config_files/workspace/lorax_templates/bluefin_files/topbar-bg.png usr/share/anaconda/pixmaps/silverblue/topbar-bg.png
