[Desktop Entry]
Name=Secure boot Notify
Comment=Autostart secure boot key notification
Exec=/usr/bin/sb-key-notify
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=secure-boot-notify


