[Desktop Entry]
Comment=Aurora - Theme based on KDE BreezeDark
Name=Aurora
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Universal-Blue
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=dev.getaurora.aurora.desktop
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=https://getauorora.dev
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
