[Unit]
Description=The Podmansh container
After=local-fs.target

[Container]
Image=ghcr.io/ublue-os/ubuntu-toolbox:latest
ContainerName=podmansh
RemapUsers=keep-id
RunInit=yes
Network=host
AddCapability=all
NoNewPrivileges=no
Exec=sleep infinity
WorkingDir=%h

Volume=%h:%h
Volume=/:/run/host:rslave
Volume=/dev:/dev:rslave
Volume=/sys:/sys:rslave
Volume=/tmp:/tmp:rslave
Volume=/sys/fs/selinux
Volume=/var/log/journal
Volume=/run/user/1000:/run/user/1000:rslave
Volume=/etc/hosts:/etc/hosts:ro
Volume=/etc/resolv.conf:/etc/resolv.conf:ro

Environment=ENV=%h/.profile

PodmanArgs=--env-host
PodmanArgs=--privileged
PodmanArgs=--mount=type=devpts,destination=/dev/pts
PodmanArgs=--userns=keep-id
PodmanArgs=--ulimit=host
PodmanArgs=--security-opt=label=disable
PodmanArgs=--cgroupns=private
PodmanArgs=--log-level=debug

Annotation=run.oci.keep_original_groups=1

[Install]
RequiredBy=default.target