[Unit]
Description=Setup overlay mount for brew
ConditionPathExists=/usr/share/homebrew
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -p /var/home/linuxbrew
ExecStart=/usr/bin/mkdir -p %S/homebrew
ExecStart=-/usr/bin/rm -rf %C/homebrew/*
ExecStart=-/usr/bin/rm -rf %C/homebrew/.*
ExecStart=/usr/bin/mkdir -p %C/homebrew
ExecStart=/usr/bin/mount -t overlay overlay -o lowerdir=/usr/lib/homebrew,upperdir=%S/homebrew,workdir=%S/homebrew-workdir /var/home/linuxbrew
ExecStop=/usr/bin/umount /var/home/linuxbrew
ExecStop=-/usr/bin/rm -rf %C/homebrew/*
ExecStop=-/usr/bin/rm -rf %C/homebrew/.*

[Install]
WantedBy=default.target multi-user.target