[Unit]
Description=Setup Homebrew
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/home/linuxbrew/.linuxbrew/bin/brew

[Service]
Type=oneshot
User=1000
Group=1000
Environment=NONINTERACTIVE=1
Environment=CI=1
ExecStart=/usr/bin/bash /usr/share/ublue-os/homebrew-install.sh

[Install]
WantedBy=multi-user.target
