[Unit]
Description=Service to check for secure boot key enrollment and send notifications

[Service]
ExecStart=/usr/libexec/check-sb-key.sh

[Install]
WantedBy=multi-user.target
