[Unit]
Description=Setup Guest User dotfiles
After=local-fs.target
ConditionHost=ContainerTestUblueOS
ConditionVirtualization=yes
ConditionPathExists=/var/home/ublue-os
ConditionPathExists=!/run/ostree-booted
ConditionPathExists=!/var/home/ublue-os/.%N.stamp

[Service]
User=ublue-os
Type=oneshot
ExecStart=/usr/bin/cp -r /etc/skel/.* /var/home/ublue-os/
ExecStart=/usr/bin/touch /var/home/ublue-os/.%N.stamp
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target
