[Desktop Entry]
Name=First Boot Setup
Comment=Sets up Desktop On FirstBoot
Exec=/usr/bin/yafti /etc/yafti.yml
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup
