[Desktop Entry]
Name=Tblue First Boot Setup
Comment=Sets up Tblue Desktop Correctly On FirstBoot
Exec=/usr/bin/yafti /etc/yafti.yml
Icon=org.gnome.Console
Type=Application
Categories=Utility;System;
Name[en_US]=startup
