[Desktop Entry]
Name=Bluefin First Boot Setup
Comment=Sets up Ublue Desktop Correctly On FirstBoot
Exec=/usr/bin/yafti /etc/yafti.yml
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;System;
Name[en_US]=startup
