@define-color bluefin #3b8737;

/* logo and sidebar classes for Bluefin */

/* The sidebar consists of three parts: a background, a logo, and a product logo,

 * rendered in that order. The product logo is empty by default and is intended

 * to be overridden by a stylesheet in product.img.

 */

.logo-sidebar {
    background-image: ("/usr/share/anaconda/pixmaps/silverblue/sidebar-bg.png");

    background-color: @bluefin;

    background-repeat: no-repeat;
}

/* Add a logo to the sidebar */

.logo {
    background-image: none;
}

/* This is a placeholder to be filled by a product-specific logo. */

.product-logo {
    background-image: none;

    background-color: transparent;
}

AnacondaSpokeWindow #nav-box {
    background-color: @bluefin;

    background-image: url("/usr/share/anaconda/pixmaps/silverblue/topbar-bg.png");

    background-repeat: no-repeat;

    color: white;
}

/* Remove the box-shadow from buttons in the nav-box because it adds a white stripe

 * below the buttons and makes them look dumb */

AnacondaSpokeWindow #nav-box GtkButton {
    box-shadow: none;
}

/* Add the product logo at the top */

.product-logo {
    background-image: none;
}
