[Unit]
Description=Workaround for the missing /etc/hostname file on Universal Blue systems
After=network.target
ConditionPathExists=!/etc/hostname

[Service]
ExecStart=/usr/bin/touch /etc/hostname

[Install]
WantedBy=default.target
