[Unit]
Description=Run 
Wants=network-online.target
After=network-online.target ublue-user-setup.service
ConditionUser=!@system

[Service]
Type=oneshot
ExecStart=/usr/libexec/bluefin-dx-user-vscode
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
