name: Bluefin Beta
on:
  # merge_group:
  # pull_request:
  #   branches:
  #     - main
  #     - testing
  #   paths-ignore:
  #     - "**.md"
  #     - "system_files/silverblue/**"
  # push:
  #   branches:
  #     - main
  #   paths-ignore:
  #     - "**.md"
  #     - "system_files/silverblue/**"
  # schedule:
  #   - cron: "40 4 * * *" # 4:40 UTC everyday
  workflow_dispatch:

jobs:
  build:
    name: build
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      brand_name: bluefin
      fedora_version: beta
      rechunk: true

