name: Stable Images
on:
  merge_group: # Make Stable-Daily run on merge groups
  pull_request:
    branches:
      - main
      - testing
    paths-ignore:
      - "**.md"
  schedule:
    - cron: "50 5 * * 0" # 5:50 UTC sunday
  workflow_call:
  workflow_dispatch:

jobs:
  build-image-stable:
    name: Build Stable Images
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        brand_name: ["bluefin"]
    with:
      kernel_pin: 6.13.8-200.fc41.x86_64 ## This is where kernels get pinned.
      brand_name: ${{ matrix.brand_name }}
      stream_name: stable

  generate-release:
    name: Generate Release
    needs: [build-image-stable]
    secrets: inherit
    uses: ./.github/workflows/generate-release.yml
    with:
      stream_name: '["stable", "stable-daily"]'

