name: bluefin 38
on:
  merge_group:
  pull_request:
    branches:
      - main
      - testing
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - testing
    paths-ignore:
      - '**.md'
  schedule:
    - cron: '50 16 * * *'  # 16:50 UTC everyday
  workflow_dispatch:

jobs:
  build:
    name: build
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    with:
      fedora_version: 38