name: Validate Brewfiles
permissions:
  contents: read

on:
  pull_request:
    paths:
      - "brew/**"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Validate Brewfiles
        shell: bash
        run: |
          echo "Validating Brewfiles in brew/ directory..."


          find "brew" -iname '*\.Brewfile*' -print0 | \
            while IFS= read -r -d '' brewfile ; do \
              echo "::group:: ===$(basename $brewfile)==="
              grep -E -e "^tap" $brewfile > taps.Brewfile
              set -xeuo pipefail
              brew bundle --file=./taps.Brewfile
              if brew bundle exec whoami --file="$brewfile" | grep -F -e "${USER}" ; then
                echo "✓ $brewfile is valid"
              else
                echo "✗ $brewfile validation failed"
                exit 1
              fi
              set +xeuo pipefail
              echo "::endgroup::"
            done
